body{
    
background-color: #F8FAFC;
font-family: poppins, sans-serif;

}

.custom-kanban-nav {
  
  /* background: linear-gradient(to right, #2C3E50, #00ADB5); */
  background-color: rgb(16, 16, 16);
  

  height: 65px;
  
}

.btn-light-opacity {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  
}

.btn-light-opacity:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.kanban-icon{
    font-size: 25px;
}
.nav-title{
    font-size: 25px
}

/* -------------------------------footer--------------------------------------- */

.footer{
    background-color: rgb(16, 16, 16);
  
    height: 65px;
}
.grey{
    color: #989b9f;
}

/* ------------------------main--------------------------------------------------- */

.card-style{
    height: 72vh;
    border-radius: 25px;
    border: 1px solid #e0e0e091;
}

.icon-box{
    width: 40px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.082);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.sub-title{
    font-size: 15px;
    color: #989b9f;
    font-weight: 500;
}




.folder-icon{
    font-size: 40px;
}
.dark-grey{
    color: #2c3038;
}
.larger-1{
    font-size: 20px;
}
.larger-2{
    font-size: 15px;
}
.icon-box-orange{
     width: 40px;
    height: 40px;
    background-color: #FFFBEB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.icon-box-green{
    width: 40px;
    height: 40px;
    background-color: #ECFDF5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-header{
    background-color: #bbb9b910;
    overflow: hidden;
    max-width: 100%;
   
}
.plus-button{
    width: 43px;
    height: 43px;
}

.navy{
    color: #121C30;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

.pulse-heart {
  display: inline-block; /* Required for transform to work on inline elements */
  animation: heartbeat 1.5s infinite ease-in-out;
  color: #f14343; /* A warmer red that looks great with grey */
}


.custom-shadow {
    box-shadow: 0 8px 30px rgba(78, 84, 200, 0.1); 
}

.bottom{
    /* width: 40%; */
    height: fit-content;
    
}
.green{
    background-color: #D0FAE5;
    color: #097552;
    font-weight: 600;
    font-size: 13px;
}

.orange{
    background-color: #ffebebcc;
    color: #d60d0d;
   font-weight: 600;
    font-size: 13px;
}
.badge-style{
    width: 30%;
    padding: 7px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.card-style {
    height: 72vh;
    display: flex;
    flex-direction: column;
}

.card-style .card-body {
    flex: 1;
    overflow-y: auto;
}
.card-style .card-header {
    flex-shrink: 0;
}
